<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="nav">
</nav>
<div th:fragment="version-change">
    <h3>更新记录</h3>
    <table class="table table-hover">
        <tr>
            <th>日期</th>
            <th>说明</th>
        </tr>
        <tr>
            <td>2017-04-14</td>
            <td>加入
                <a th:href="@{/game-occur-error-faq}">游戏出错解答</a>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>2017-02-25</td>
            <td>加入
                <a th:href="@{/item-red-enhance-identify}">红字装备鉴定</a>、
                <a th:href="@{/stone-yellow-enhance-level-up-desc}">混元石用法</a>、
                <a th:href="@{/stone-red-enhance-transfer-desc}">混沌石用法</a>、
                <a th:href="@{/item-level-query}">装备阶级速查(2-7阶)</a>、
                <br/>
                <a th:href="@{/split-and-stone-yellow-enhance-desc}">分解与精华石说明</a>、
                <a th:href="@{/item-yellow-enhance-suite-desc}">装备激活增强攻击说明</a>、
                <a th:href="@{/gtyd-and-bhx-yellow-enhance-desc}">钢铁腰带和避魂靴强化说明</a>、
                及<a th:href="@{/stone-yellow-enhance-change-desc}">乾坤石用法</a>页面
            </td>
            <td></td>
        </tr>
        <tr>
            <td>2017-02-23</td>
            <td>加入<a th:href="@{/can-not-save-item}">游戏中无法保存的物品</a>、<a th:href="@{/team-and-view-other-hero-guide}">联机组队和查看装备教程</a>、<a
                    th:href="@{/new-map-join-method}">新地图的进入方法</a>、<a
                    th:href="@{/all-suite-item-drop}">所有套装掉落集合</a>及<a
                    th:href="@{/monster-can-not-attack}">无伤点</a>页面
            </td>
            <td></td>
        </tr>
        <tr>
            <td>2017-02-21</td>
            <td>加入<a th:href="@{/map-point}">地图坐标点</a>、<a th:href="@{/interesting-note}">有趣的说明</a>、<a
                    th:href="@{/index}">常用命令复制</a>、<a
                    th:href="@{/faq}">常见问题</a>及更新记录
            </td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>