<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/static/js/menu.js(v=${#dates.format(serverStartDate, 'yyyyMMdd')})}"></script>
    <script th:src="@{/static/js/utils.js(v=${#dates.format(serverStartDate, 'yyyyMMdd')})}"></script>
    <script th:inline="javascript">
        var imgCtx = /*[[@{/static/img/}]]*/ 'imageCtx';
        var ctx = /*[[@{/}]]*/ 'ctx';

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</head>
<body>
</body>
</html>