<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<div class="container">
    <h3>所有套装掉落集合
    </h3>
    <table class="table table-hover">
        <tr>
            <th>名称</th>
            <th>装备</th>
            <th>怪物掉落</th>
            <th>怪物地点</th>
        </tr>
        <tr>
            <td rowspan="4"><strong>霸者套装</strong>:防后仰+20，幸运+2</td>
        </tr>
        <tr>
            <td>
                霸者之刃
            </td>
            <td>
                变异龙神
            </td>
            <td>
                《龙神殿》
            </td>
        </tr>
        <tr>

            <td>
                凰天魔衣&amp;风天魔甲
            </td>
            <td>
                魔龙教主
                副本宝箱
            </td>
            <td>
                《浴血之地》

                《伏魔令（赤）（阎）（破）》

            </td>
        </tr>
        <tr>

            <td>
                霸者勋章
            </td>
            <td>
                熔岩地狱恶魔
            </td>
            <td>
                《地狱之路》
            </td>
        </tr>

        <tr>
            <td rowspan="5"><strong>赤月套装</strong>
                <br/>作为经典的再续，赤月装备收集整套后
                <br/>会附加一个增加极品装备出现几率的属性，
                <br/>这在梦回传奇全部装备中（除祈福外、护符）是唯一的，
                <br/>想多打极品的朋友可以先穿强力装备最后换赤月套装补刀。
            </td>
        </tr>
        <tr>
            <td>
                所有赤月装备

            </td>
            <td>
                所有赤月装备

            </td>
            <td>
                《恶魔之地》
            </td>
        </tr>
        <tr>
            <td>
                <p>圣战头盔</p>
                <p>圣战手镯</p>
                <p>圣战项链</p>
            </td>
            <td>
                <p>双头血魔（弱化）/双头血魔</p>
                <p>双头血魔（弱化）/双头血魔</p>
                <p>双头血魔</p>
            </td>
            <td>
                《赤月峡谷东》/《沉睡之地》
                <br/>
                《赤月峡谷东》/《沉睡之地》
                <br/>
                《沉睡之地》
            </td>
        </tr>
        <tr>

            <td>
                天尊头盔
                <br/>
                天尊手镯
            </td>
            <td>
                血僵尸
                <br/>
                血僵尸
            </td>
            <td>
                《赤月峡谷》
                <br/>
                《赤月峡谷》
            </td>
        </tr>
        <tr>

            <td>
                法神头盔
                <br/>
                法神手镯
                <br/>
                法神项链
            </td>
            <td>
                双头金刚（弱化）/双头金刚
                <br/>
                双头金刚（弱化）/双头金刚
                <br/>
                双头金刚
            </td>
            <td>
                《赤月峡谷》
                <br/>
                《赤月峡谷》
            </td>
        </tr>

        <tr>
            <td rowspan="2"><strong>魔龙套装</strong></td>
        </tr>
        <tr>
            <td>
                所有魔龙装备

            </td>
            <td>
                魔龙教主
                <br/>
                魔龙藏宝图合成
            </td>
            <td>
                《浴血之地》
            </td>
        </tr>
        <tr>
            <td rowspan="2"><strong>战神级别套装</strong></td>
        </tr>
        <tr>
            <td>
                所有战神级别装备
            </td>
            <td>
                熔岩地狱恶魔
            </td>
            <td>
                《地狱之路》
            </td>
        </tr>
        <tr>
            <td rowspan="5"><strong>雪域套装</strong></td>
        </tr>
        <tr>
            <td>
                全职业装备
            </td>
            <td>
                寒冰魔王和阎罗守护魔王
            </td>
            <td>
                《寒冰王座》
            </td>
        </tr>

        <tr>
            <td>
                全职业项链
            </td>
            <td>
                寒冰野人
                <br/>
                寒冰魔王和阎罗守护魔王
            </td>
            <td>《雪域1·2·3层》
                <br/>
                《寒冰王座》
            </td>
        </tr>
        <tr>
            <td>
                全职业护腕
            </td>
            <td>
                寒冰守护
                <br/>
                寒冰魔王和阎罗守护魔王
            </td>
            <td>《雪域3层》
                <br/>
                《寒冰王座》
            </td>
        </tr>
        <tr>
            <td>
                全职业头盔
            </td>
            <td>
                寒冰战神
                <br/>
                白虎
                <br/>
                寒冰魔王和阎罗守护魔王
            </td>
            <td>
                《雪域2·3层和五行之巅》
                <br/>
                《五行之巅》
                <br/>
                《寒冰王座》
            </td>
        </tr>

        <tr>
            <td rowspan="4"><strong>王者套装</strong></td>
        </tr>
        <tr>
            <td>
                三职业王者鞋子
                <br/>
                三职业王者腰带
                <br/>
                三职业王者护腕
                <br/>
                三职业王者头盔
            </td>
            <td>
                月氏战魔
            </td>
            <td>
                《月氏天空》
            </td>
        </tr>

        <tr>
            <td>
                王者衣服
            </td>
            <td>
                怨恶巨兽
            </td>
            <td>
                《血色魔窟》
            </td>
        </tr>
        <tr>
            <td>
                三职业王者项链
                <br/>
                三职业王者戒指
                <br/>
                三职业王者武器
            </td>
            <td>
                阎魔太子
            </td>
            <td>挑战副本《伏魔令（阎）》
                <br/>
                《地狱神殿》
            </td>
        </tr>

        <tr>
            <td rowspan="5"><strong>天龙套装</strong></td>
        </tr>
        <tr>
            <td>
                三职业天龙头盔
            </td>
            <td>
                火龙教主
                <br/>
                破天魔龙
            </td>
            <td>
                《火龙神殿》
                《火龙神殿（副本）》
            </td>
        </tr>
        <tr>

            <td>
                三职业天龙腰带
                <br/>
                三职业天龙项链

            </td>
            <td>
                火龙教主

            </td>
            <td>
                《火龙神殿》
            </td>
        </tr>
        <tr>
            <td>
                三职业天龙衣服
                <br/>
                三职业天龙鞋子
            </td>
            <td>
                破天魔龙
            </td>
            <td>
                《火龙神殿（副本）》
            </td>
        </tr>
        <tr>
            <td>
                三职业天龙戒指
                <br/>
                三职业天龙护腕
                <br/>
                三职业天龙武器
            </td>
            <td>
                破天邪龙
            </td>
            <td>
                《血色魔窟（魔龙之心召唤）》
            </td>
        </tr>
        <tr>
            <td rowspan="2"><strong>祈福套装</strong></td>
        </tr>
        <tr>
            <td>
                祈福项链
            </td>
            <td>
                白虎
            </td>
            <td>
                《五行之巅》
            </td>
        </tr>

    </table>
</div>
<div th:replace="fragments/footer :: baidu-script">百度统计script</div>
</body>
</html>