<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<div class="container">
    <h3>游戏中无法保存的物品</h3>
    <table class="table table-hover">
        <tr>
            <th>名称</th>
            <th>说明</th>
            <th>图例</th>
        </tr>
        <tr>
            <td>伏魔令(赤)</td>
            <td>
                <p>2.09.35版加入，</p>

                <p>掉落：魔龙教主，地狱boss，天界boss，月氏兽王，月氏战魔等等</p>

                <strong>2.10.12更新可以保存</strong>
            </td>
            <td><img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image002.jpg}"/></td>
        </tr>
        <tr>
            <td>伏魔令(阎)</td>
            <td>
                <p>2.09.37版加入，</p>

                <p> 掉落：月氏战魔，七颗佛珠任务
                </p>

                <strong>2.10.12更新可以保存</strong>
            </td>
            <td><img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image003.jpg}"/></td>
        </tr>
        <tr>
            <td>伏魔令(破)</td>
            <td>
                <p>2.09.40版加入，</p>
                <p> 掉落：火龙神殿：火龙教主出。</p>
                <p>进入火龙神殿(副本)道具</p>
                <strong>2.10.12更新可以保存</strong>
            </td>
            <td><img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image004.jpg}"/></td>
        </tr>
        <tr>
            <td>奖券类</td>
            <td>
                <p>各种奖券：有好几种，高级彩券之类的。</p>

                <p> 掉落：击杀首领，或者boss几率获得。</p>

                <strong>新版本已经取消，只保留了高级彩券</strong>

            </td>
            <td><img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image005.jpg}"/></td>
        </tr>
        <tr>
            <td>藏宝图类
            </td>
            <td>
                <p>各种奖券：有好几种，高级彩券之类的。</p>

                <p> 掉落：击杀首领，或者boss几率获得。</p>

                <strong>新版本已经取消，只保留了高级彩券</strong>

            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image006.jpg}"/>
            </td>
        </tr>
        <tr>
            <td>乾坤石
            </td>
            <td>
                <p>洗装备属性用。</p>

                <p>掉落(写几个主要的，太多)：寒冰魔王，月氏兽王，怨恶巨兽，月氏战魔。</p>
            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image007.jpg}"/>
            </td>
        </tr>
        <tr>
            <td>双倍爆率卷轴</td>
            <td>
                <p> 掉落：电僵尸(开藏宝图几率出现)，击杀有几率获得</p>

                <strong>[2.09.42]版本由于取消双倍爆率卷轴，</strong>
                <p>电僵尸掉落变为：5W经验卷轴</p>
            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image008.jpg}"/>
            </td>
        </tr>
        <tr>
            <td>八卦符咒
            </td>
            <td>
                <p>八卦符咒：寒冰王座开启炎魔的物品。</p>
                <p>掉落：寒冰魔王，佛珠任务</p>
                <strong>2.10.12更新可以保存</strong>
            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image009.jpg}"/>
            </td>
        </tr>
        <tr>
            <td>佛珠1-7号
            </td>
            <td>
                <p>佛珠任务必备品</p>
                <p>掉落图请参考：支线任务</p>
            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image010.jpg}"/>
            </td>
        </tr>
        <tr>
            <td>混元石
            </td>
            <td>
                <p>2.09.39版加入，如何使用具体请参考《鉴定系统》传送门</p>
                <p>掉落：伏魔令(赤)(阎)(破)宝箱、阎魔御卫、阎魔太子、藏宝图宝箱，牛魔王，火龙教主，破天魔龙，破天邪龙等。。</p>
            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image011.jpg}"/>
            </td>
        </tr>
        <tr>
            <td>潜能石2-5号</td>
            <td>
                <p>2.10.02版本加入</p>

                <p> 可以激活手工装备潜能的石头。</p>

                <p> 掉落：怨灵尸王、幻之祖玛教主、幻之牛魔王、幻之野猪王</p>

                <p> 详情请参考手工装备制作说明：传送门
                </p>
            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image012.jpg}"/>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image013.jpg}"/>
            </td>
        </tr>
        <tr>
            <td>火龙之心</td>
            <td>
                <p>2.10.09版本加入</p>

                <p> 召唤火龙教主的必需品,</p>

                <p> 使用地点：火龙神殿。掉落：阎魔太子，破天教主(单机)</p>

            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image014.jpg}"/>
            </td>
        </tr>
        <tr>
            <td>魔龙之心</td>
            <td>
                <p>2.10.17版本加入</p>
                <p> 召唤破天邪龙的必需品,</p>
                <p> 使用地点：血色魔窟。掉落：破天魔龙，破天邪龙</p>
            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image015.png}"/>
            </td>
        </tr>
        <tr>
            <td>手工材料</td>
            <td>
                <p>2.10.11版本加入</p>
                <p> 制作手工勋章及武器的材料书。</p>
                <p>2.10.12更新可以保存</p>
            </td>
            <td>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image015.jpg}"/>
                <img class="img-thumbnail" th:src="@{/static/img/can-not-save-item/image016.jpg}"/>
            </td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: baidu-script">百度统计script</div>
</body>
</html>