<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<div class="container">
    <h3>常见问题</h3>
    <pre>

Q: 当前版本哪个职业比较适合新人玩？
A: 初期三职业均可。道士适合挂机，法师要会卡位，战士就是杀杀杀的职业，法师36可以去封魔召唤900半兽勇士，道士有了2个骷髅可以在尸王殿混，
   不过要有耐心，战士建议还是初期在骷髅精灵那里先升级，到了28也能去尸王殿，不过费药，三职业均有很高的可玩性，希望各位玩家用心体验，
   后期由于技能的差异，法师爆发力比较强，战士学会金刚不坏后，只要装备尚可什么都能砍，道士由于技能的加强，瞬间成为玩家的首选。
   请按照各自的爱好选取职业，以免心烦气躁。

    本游戏不是快餐游戏，请静下心来认真玩，远离修改，珍惜还在认真开发的作者的付出。

Q: 当前版本人物最高等级为多少？
A: 2.08.02版本之前最高等级为60级，更新后提升上限到65级。
2.09.38调整级数为70级。2.09.48调整级数为80级

Q: 战士要不要学攻杀？
A: 必学!!!由于新版加强了麻痹的几率，别且后期主要是近身攻击!据说攻杀影响开天斩的出现几率。

Q: 为什么我的经验卷轴使用只有1000？
A: 圣战的设定，35级之后经验才正常，防止小号快速成长，延长游戏寿命。
[2.09.42]版本之后取消合成经验卷。

Q: 传送戒指怎么用？
A: TAB打开地图，带上传送戒指，点哪里飞哪里！
如果没有地图显示的，使用命令为@move X,Y，每次使用时间为15秒

Q: 血色魔窟坐标？
A: 冰谷走廊（冰2）474,223至血色洞窟；传送门，在288,176至血色魔窟.传送门

Q: 为什么提示不能存档？
A: 目前版本已经无提示，不过某些无法保存的物品在保存后，下线在上线全部消失！

Q: 雪域怎么进？
A: 主线任务打完地狱boss之后回封魔对话雕像可以进。

Q: 勋章有极品吗？
A: 2.09.35勋章加入极品。2.10.13版本可以用乾坤石洗。也可以用混元石合成极品。

Q: 乾坤石是干什么用的？谁出的多，怎么用？
A: 给极品装备洗属性用的。打开打造，切换至合成，放入装备和乾坤石。寒冰魔王，炎魔，月氏兽王。月氏战魔。
具体如何使用参考《分解与乾坤石强化说明》说明。传送门

Q: 游戏服务器不存在？
A: 可能是中文路径，或者被杀毒杀掉了。
具体如何使用参考《各种游戏基础问题、错误及解答》说明。传送门

Q: E6错误，关于WIN7 64多线程的问题？
A: 点击开始菜单》运行栏》msconfig》打开msconfig.exe》引导》高级选项》钩上处理器数？选择4个以下》
内存勾上选到最大》确定》重启》进游戏
具体如何使用参考《各种游戏基础问题、错误及解答》说明。传送门

Q: 屏幕花屏？
A: 修改屏幕色彩值为32位

Q: 能多开吗？
A: 现在版本允许多开。
具体如何使用参考《新人指南>联机与多开方法/出现端口解决方法》说明。传送门1~传送门2

Q: 精英模式怎么调？
A: 游戏服务器设置，打开。会看到
具体如何使用参考《新人指南>有趣的说明》说明。传送门

Q: 双倍时间怎么出？
A: 精英首领怪几率给15-20分钟双倍。电僵尸几率给双倍爆率卷轴
最新版已经取消双倍爆率卷轴，游戏内爆率永久提升1倍！相当于以前吃双倍爆率卷轴一样。

Q: 技能为什么老是一级？
A: 学习一本技能书是一级，两本是两级。

Q: 一些装备特殊属性的解说
A: 武器成长值+3=+1幸运以及+6的弱点打击（每三级为单位才会+1幸运）
幸运+1=+5%几率发挥最大属性攻击
弱点打击+2=+2%忽略怪物防御力
移动速度+2/+3=+20%/30%的移动速度
躲避+1=增加躲避物理和魔法攻击的几率
攻击速度+1=提高物理攻击速度（联机时效果已修复）
魔法装备掉落=1/（基数-系数）估计就圣战自己知道
伤害吸收+3=吸收攻击伤害3%（效果叠加）
吸取生命+5=+5%几率通过造成伤害获得生命值
暴击+5=25%几率发挥1.25倍攻击
暴击上限=提高暴击出现时候的伤害上限
物理躲避/魔法躲避=简单来说就是无视伤害（+10=10%几率无伤）
备注：
普通人物的上限是1.25
100攻、普通装备出现暴击就是125功
而天龙套装是140

Q: 关于道士强化召唤白虎的说明
A: 最好等级在62的时候把三本书一起学习，这样能召唤2个白虎，若是57学习1本之后就会出现只能召唤一只白虎了，应该是游戏本身就这样设计的

Q: 常见的值得强化到卓越品质的装备
A: 赤月装备是因为属性有+10的魔法装备掉落。
复活戒指：10分钟CD时间复活一次，道士用不错/战士用是即将死亡时切换
护身戒指：法师配合魔法盾无后仰/梦回的法师前期用用可以，后期无必要
麻痹戒指：新版增加了麻痹几率，效果也是不错的
五行守护石5号：主属性下限高。

Q: 前期如何提高攻击魔法道术？
A: 在打到加攻击魔法道术的极品装备，比如3阶装备4阶装备，不要合成经验，分解给一些2阶装备3阶装备用锻造合成+5的，比用魔龙那些套装好多了。
    </pre>
</div>
<div th:replace="fragments/footer :: baidu-script">百度统计script</div>
</body>
</html>