<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">
</div>
<div class="container">
    <h1>法师</h1>
    <div><img th:src="@{/static/img/hero-fs/fs.jpg}"/></div>
    <h3>主动技能</h3>
    <table class="table table-hover">
        <tr>
            <th class="col-md-2">名称</th>
            <th class="col-md-3">说明</th>
            <th class="col-md-3">掉落</th>
            <th class="col-md-2">学习等级</th>
            <th class="col-md-2">效果图</th>
        </tr>
        <tbody id="active-skill-table-body">
        </tbody>
    </table>
    <div>
        诱惑之光列表
        <table class="table table-bordered">
            <tr>
                <td>4级</td>
                <td>8级</td>
                <td>17级</td>
                <td>23级</td>
                <td>28级</td>
                <td>33级</td>
                <td>36级</td>
                <td>39级</td>
                <td>43级</td>
                <td>58级</td>
            </tr>
            <tr>
                <td>鹿</td>
                <td>多钩猫钉耙猫</td>
                <td>半兽人战士</td>
                <td>半兽人勇士300</td>
                <td>沃玛小怪、红黑野猪、蜈蚣小怪</td>
                <td> 巨型多角虫900</td>
                <td>半兽勇士900</td>
                <td>牛头魔</td>
                <td> 黑鄂蜘蛛</td>
                <td>狐狸</td>
            </tr>
        </table>
    <pre>

    PS：巨型多角虫900（攻击一般，物防一般，魔防极高，出现在落霞山谷），

    半兽勇士900（物防极高，缺点：攻击miss多，出现在封魔大陆），

    狐狸（可以每种召唤一只，也可只召唤一种），

    法师召唤物只能升到3级。不会像道士的召唤物可以升至7级。
        </pre>
    </div>
    <div>
    <pre>
    宠物控制

    v 宠物休息攻击：ctrl+A

    v 宠物快捷拉回：ctrl+Z

    v 宠物快捷叛变：ctrl+X

    2.07.03版本开始法师对宠物施加命令ctrl+x会直接杀死宠物而不会放生
        </pre>
    </div>
</div>

<div th:replace="fragments/footer :: baidu-script"></div>
<script th:src="@{/static/js/skill.js}"></script>
<script th:src="@{/static/js/page/hero.js}"></script>
<script th:src="@{/static/js/page/hero-fs.js}"></script>
</body>
</html>