<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="static/js/app.js"></script>

</head>
<body>
<nav class="navbar navbar-default">
</nav>
<div class="container">
    <table class="table table-hover">
        <tr>
            <td>第一章：游戏解答</td>
            <td><a href="">游戏出错解答</a></td>
            <td><a href="">单机游戏教程</a></td>
            <td><a href="">游戏更新说明</a></td>
            <td><a href="">做主机：基础知识</a></td>
            <td><a href="">做主机：端口映射</a></td>
            <td><a href="">做主机：DMZ</a></td>
        </tr>
        <tr>
            <td>第二章：职业技能</td>
            <td colspan="2"><a href="">战士</a></td>
            <td colspan="2"><a href="">法师</a></td>
            <td colspan="2"><a href="">道士</a></td>
        </tr>

        <tr>
            <td>第三章：游戏过程</td>
            <td><a href="">主线任务</a></td>
            <td><a href="">支线任务</a></td>
            <td><a href="">有趣的说明</a></td>
            <td><a href="">初期新手必看</a></td>
            <td><a href="">藏宝图方面</a></td>
            <td><a href="">升级经验表</a></td>
        </tr>

        <tr>
            <td>第四章：新人教程说明</td>
            <td><a href="">乾坤石用法</a></td>
            <td><a href="">特殊说明</a></td>
            <td><a href="">鉴定系统</a></td>
            <td><a href="">特殊装备</a></td>
            <td><a href="">分解与精华石强化说明</a></td>
            <td><a href="">游戏地图走向</a></td>
        </tr>
        <tr>
            <td>第五章：其他说明</td>
            <td><a href="">手工装备制作说明</a></td>
            <td><a href="">秘境地图</a></td>
            <td><a href="">新地图的进入方法</a></td>
            <td><a href="">潜能石激活属性表</a></td>
            <td><a href="">联机与多开方法</a></td>
            <td><a href="">出现端口问题方法</a></td>
        </tr>
    </table>
</div>
</body>
</html>