<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<style>
    td.ok {
        background-color: #EEEEEE;
    }
</style>
<body>
<div th:replace="fragments/common :: nav">nav
</div>
<div class="container">
    <table class="table table-hover">
        <tr>
            <td>第一章：游戏解答</td>
            <td><a href="">游戏出错解答</a></td>
            <td><a href="">单机游戏教程</a></td>
            <td><a href="">游戏更新说明</a></td>
            <td><a href="">做主机：基础知识</a></td>
            <td><a href="">做主机：端口映射</a></td>
            <td><a href="">做主机：DMZ</a></td>
        </tr>
        <tr>
            <td>第二章：职业技能</td>
            <td colspan="2" class="ok"><a th:href="@{/hero-zs}">战士(已完成)</a></td>
            <td colspan="2" class="ok"><a th:href="@{/hero-fs}">法师(已完成)</a></td>
            <td colspan="2" class="ok"><a th:href="@{/hero-ds}">道士(已完成)</a></td>
        </tr>
        <tr>
            <td>第三章：游戏过程</td>
            <td class="ok"><a th:href="@{/task-main}">主线任务(已完成)</a></td>
            <td class="ok"><a th:href="@{/task-secondary}">支线任务(已完成)</a></td>
            <td class="ok"><a th:href="@{/interesting-note}">有趣的说明(已完成)</a></td>
            <td><a href="">初期新手必看</a></td>
            <td><a href="">藏宝图方面</a></td>
            <td class="ok"><a th:href="@{/level-up-exp}">升级经验表(已完成)</a></td>
        </tr>
        <tr>
            <td>第四章：新人教程说明</td>
            <td><a href="">乾坤石用法</a></td>
            <td><a href="">特殊说明</a></td>
            <td><a href="">鉴定系统</a></td>
            <td class="ok"><a th:href="@{/special-item}">特殊装备(已完成)</a></td>
            <td><a href="">分解与精华石强化说明</a></td>
            <td><a href="">游戏地图走向</a></td>
        </tr>
        <tr>
            <td>第五章：其他说明</td>
            <td><a href="">手工装备制作说明</a></td>
            <td><a href="">秘境地图</a></td>
            <td><a href="">新地图的进入方法</a></td>
            <td><a href="">潜能石激活属性表</a></td>
            <td><a href="">联机与多开方法</a></td>
            <td><a href="">出现端口问题方法</a></td>
        </tr>
    </table>
    <h2>常用命令复制</h2>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                      data-toggle="tab">组队</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">藏宝图</a>
            </li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                       data-toggle="tab">还需要啥?</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <br/>
                <a class="btn btn-success" data-toggle="tooltip"
                   data-placement="bottom" title="点击复制"
                   onclick="copyTextAndChangeTooltipToCopied('@createteam',this)">@createteam(创建队伍)</a>
                <a class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="点击复制"
                   onclick="copyTextAndChangeTooltipToCopied('@quitteam',this)">@quitteam(退出队伍)</a>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <br/>
                <a class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="点击复制"
                   onclick="copyTextAndChangeTooltipToCopied('@move 200,220',this)">@move 200,220(玲珑仙岛)</a>
                <a class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="点击复制"
                   onclick="copyTextAndChangeTooltipToCopied('@move 29,112',this)">@move 29,112(巨人巷)</a>
                <a class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="点击复制"
                   onclick="copyTextAndChangeTooltipToCopied('@move 223,105',this)">@move 223,105(幽冥坛)</a>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <br/>
                <a class="btn btn-success" href="https://tieba.baidu.com/p/4974587275?red_tag=0744231206"
                   target="_blank">请在贴吧中留言</a>
            </div>
        </div>

    </div>
    <div th:replace="fragments/common :: version-change"></div>
</div>
<div th:replace="fragments/footer :: baidu-script"></div>
</body>
</html>