<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">nav
</div>
<div class="container">
    <table class="table table-hover">
        <tr>
            <td>第一章：游戏解答</td>
            <td><a href="">游戏出错解答</a></td>
            <td><a href="">单机游戏教程</a></td>
            <td><a href="">游戏更新说明</a></td>
            <td><a href="">做主机：基础知识</a></td>
            <td><a href="">做主机：端口映射</a></td>
            <td><a href="">做主机：DMZ</a></td>
        </tr>
        <tr>
            <td>第二章：职业技能</td>
            <td colspan="2"><a th:href="@{/hero-zs}">战士(已完成)</a></td>
            <td colspan="2"><a th:href="@{/hero-fs}">法师(已完成)</a></td>
            <td colspan="2"><a th:href="@{/hero-ds}">道士(已完成)</a></td>
        </tr>

        <tr>
            <td>第三章：游戏过程</td>
            <td><a href="">主线任务</a></td>
            <td><a href="">支线任务</a></td>
            <td><a href="">有趣的说明</a></td>
            <td><a href="">初期新手必看</a></td>
            <td><a href="">藏宝图方面</a></td>
            <td><a href="">升级经验表</a></td>
        </tr>

        <tr>
            <td>第四章：新人教程说明</td>
            <td><a href="">乾坤石用法</a></td>
            <td><a href="">特殊说明</a></td>
            <td><a href="">鉴定系统</a></td>
            <td><a href="">特殊装备</a></td>
            <td><a href="">分解与精华石强化说明</a></td>
            <td><a href="">游戏地图走向</a></td>
        </tr>
        <tr>
            <td>第五章：其他说明</td>
            <td><a href="">手工装备制作说明</a></td>
            <td><a href="">秘境地图</a></td>
            <td><a href="">新地图的进入方法</a></td>
            <td><a href="">潜能石激活属性表</a></td>
            <td><a href="">联机与多开方法</a></td>
            <td><a href="">出现端口问题方法</a></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: baidu-script"></div>
</body>
</html>