<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<div class="container">
    <h3>装备阶级速查（2-7阶）</h3>
    <table class="table table-hover">
        <tr>
            <th colspan="2" style="text-align:center;">二阶</th>
            <th>三阶</th>
            <th>四阶</th>
            <th>五阶</th>
            <th>六阶</th>
            <th>七阶</th>
        </tr>
        <tr>
            <td>木剑</td>
            <td> 骷髅头盔</td>
            <td> 炼狱</td>
            <td> 裁决之杖</td>
            <td> 怒斩</td>
            <td> 屠龙刀</td>
            <td> 开天</td>
        </tr>
        <tr>
            <td>匕首</td>
            <td> 牛角戒指</td>
            <td> 银蛇</td>
            <td> 骨玉权杖</td>
            <td> 逍遥扇</td>
            <td> 嗜魂法杖</td>
            <td> 玄天</td>
        </tr>
        <tr>
            <td>乌木剑</td>
            <td>古铜戒指</td>
            <td>魔杖</td>
            <td>龙纹剑</td>
            <td>龙牙</td>
            <td>霸者之刃</td>
            <td>震天</td>
        </tr>
        <tr>
            <td>青铜剑</td>
            <td>玻璃戒指</td>
            <td>井中月</td>
            <td>血饮</td>
            <td>天魔战甲</td>
            <td>麻痹戒指</td>
        </tr>
        <tr>
            <td>鹤嘴锄*</td>
            <td>六角戒指</td>
            <td>无极棍</td>
            <td>力量戒指</td>
            <td>圣战保甲</td>
            <td>传送戒指</td>
            <td></td>
        </tr>
        <tr>
            <td>短剑</td>
            <td>蓝色水晶戒指</td>
            <td>战神盔甲(男)</td>
            <td>泰坦戒指</td>
            <td>天尊道袍</td>
            <td>护身戒指</td>
            <td></td>
        </tr>
        <tr>
            <td>铁剑</td>
            <td>黑色水晶戒指</td>
            <td>战神盔甲(女)</td>
            <td>紫碧螺</td>
            <td>天师长袍</td>
            <td>复活戒指</td>
            <td></td>
        </tr>
        <tr>
            <td>青铜斧</td>
            <td>珍珠戒指</td>
            <td>幽灵战衣(男)</td>
            <td>骑士手镯</td>
            <td>法师披风</td>
            <td>风天魔甲</td>
            <td></td>
        </tr>
        <tr>
            <td>八荒</td>
            <td>蛇眼戒指</td>
            <td>幽灵战衣(女)</td>
            <td>三眼手镯</td>
            <td>霓裳羽衣</td>
            <td>凰天魔衣</td>
            <td></td>
        </tr>
        <tr>
            <td>半月</td>
            <td>骷髅戒指</td>
            <td>恶魔长袍(男)</td>
            <td>龙之手镯</td>
            <td>圣战头盔</td>
            <td>雷霆战甲(男)</td>
            <td></td>
        </tr>
        <tr>
            <td>海魂</td>
            <td>道德戒指</td>
            <td>恶魔长袍(女)</td>
            <td>绿色项链</td>
            <td>天尊头盔</td>
            <td>雷霆战甲(女</td>
            <td></td>
        </tr>
        <tr>
            <td>凌风</td>
            <td>魅力戒指</td>
            <td>狂风戒指</td>
            <td>灵魂项链</td>
            <td>法神头盔</td>
            <td>光芒道袍(男)</td>
            <td></td>
        </tr>
        <tr>
            <td>破魂</td>
            <td>金戒指</td>
            <td>珊瑚戒指</td>
            <td>恶魔铃铛</td>
            <td>圣战项链</td>
            <td>光芒道袍(女)</td>
            <td></td>
        </tr>
        <tr>
            <td>斩马刀</td>
            <td>降妖除魔戒指</td>
            <td>龙之戒指</td>
            <td>攻击宝石</td>
            <td>天尊项链</td>
            <td>烈焰魔衣(男)</td>
            <td></td>
        </tr>
        <tr>
            <td>降魔</td>
            <td>小手镯</td>
            <td>铂金戒指</td>
            <td>道术宝石</td>
            <td>法神项链</td>
            <td>烈焰魔衣(女)</td>
            <td></td>
        </tr>
        <tr>
            <td>偃月</td>
            <td>皮质手套</td>
            <td>红宝石戒指</td>
            <td>魔法宝石</td>
            <td>圣战手镯</td>
            <td>雷霆战靴</td>
            <td></td>
        </tr>
        <tr>
            <td>修罗</td>
            <td>银手镯</td>
            <td>心灵手镯</td>
            <td></td>
            <td>天尊手镯</td>
            <td>光芒道靴</td>
            <td></td>
        </tr>
        <tr>
            <td>罗刹</td>
            <td>刚手镯</td>
            <td>思贝儿手镯</td>
            <td></td>
            <td>法神手镯</td>
            <td>烈焰魔靴</td>
            <td></td>
        </tr>
        <tr>
            <td>凝霜</td>
            <td>大手镯</td>
            <td>阎罗手套</td>
            <td></td>
            <td>圣战戒指</td>
            <td>强化雷霆战靴</td>
            <td></td>
        </tr>
        <tr>
            <td>布衣(男) (女)</td>
            <td>坚固手套</td>
            <td>幽灵项链</td>
            <td></td>
            <td>天尊戒指</td>
            <td>强化光芒道靴</td>
            <td></td>
        </tr>
        <tr>
            <td>轻型盔甲(男)(女)</td>
            <td>魔力手镯</td>
            <td>天珠项链</td>
            <td></td>
            <td>法神戒指</td>
            <td>强化烈焰魔靴</td>
            <td></td>
        </tr>
        <tr>
            <td>中型盔甲(男)(女)</td>
            <td>道士手镯</td>
            <td>生命项链</td>
            <td></td>
            <td>狂风项链</td>
            <td>雷霆、光芒、烈焰腰带</td>
            <td></td>
        </tr>
        <tr>
            <td>重盔甲(男)(女)</td>
            <td>黑檀手镯</td>
            <td>记忆项链</td>
            <td></td>
            <td>神圣攻击宝石</td>
            <td>雷霆、光芒、烈焰护腕</td>
            <td></td>
        </tr>
        <tr>
            <td>灵魂战衣(男)(女)</td>
            <td>金手镯</td>
            <td>黑铁头盔</td>
            <td></td>
            <td>神圣魔法宝石</td>
            <td>强化雷霆、光芒、烈焰腰带</td>
            <td></td>
        </tr>
        <tr>
            <td>魔法长袍(男)(女)</td>
            <td>幽灵手套</td>
            <td>虹膜项链</td>
            <td></td>
            <td>神圣道术宝石</td>
            <td>强化雷霆、光芒、烈焰护腕</td>
            <td></td>
        </tr>
        <tr>
            <td>兽皮腰带</td>
            <td>死神手套</td>
            <td>虹膜手镯</td>
            <td></td>
            <td>圣龙盔</td>
            <td>雷霆、光芒、烈焰项链</td>
            <td></td>
        </tr>
        <tr>
            <td>铁腰带</td>
            <td>金项链</td>
            <td>虹膜戒指</td>
            <td></td>
            <td>魔龙盔</td>
            <td>强化雷霆、光芒、烈焰项链</td>
            <td></td>
        </tr>
        <tr>
            <td>青铜腰带</td>
            <td>魔法头盔</td>
            <td></td>
            <td></td>
            <td>天龙盔</td>
            <td>雷霆战戒</td>
            <td></td>
        </tr>
        <tr>
            <td>钢铁腰带</td>
            <td>道士头盔</td>
            <td></td>
            <td></td>
            <td></td>
            <td>光芒道戒</td>
            <td></td>
        </tr>
        <tr>
            <td>布鞋</td>
            <td>竹笛</td>
            <td></td>
            <td></td>
            <td></td>
            <td>烈焰魔戒</td>
            <td></td>
        </tr>
        <tr>
            <td>鹿皮靴</td>
            <td>放大镜</td>
            <td></td>
            <td></td>
            <td></td>
            <td>强化雷霆战戒</td>
            <td></td>
        </tr>
        <tr>
            <td>紫绸靴</td>
            <td>蓝色翡翠项链</td>
            <td></td>
            <td></td>
            <td></td>
            <td>强化光芒道戒</td>
            <td></td>
        </tr>
        <tr>
            <td>避魂靴</td>
            <td>传统项链</td>
            <td></td>
            <td></td>
            <td></td>
            <td>强化烈焰魔戒</td>
            <td></td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: baidu-script">百度统计script</div>
</body>
</html>