<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<style>
    .level {
        font-size: 1.5em;
    }
</style>
<div class="container">
    <h3>升级经验表</h3>
    <table class="table table-hover">
        <tr>
            <th class="col-md-1">级别</th>
            <th class="col-md-2">经验</th>
            <th class="col-md-1">级别</th>
            <th class="col-md-2">经验</th>
            <th class="col-md-1">级别</th>
            <th class="col-md-2">经验</th>
            <th class="col-md-1">级别</th>
            <th class="col-md-2">经验</th>
        </tr>
        <tr>
            <td class="level">1</td>
            <td>
                100
            </td>
            <td class="level">21</td>
            <td>
                1.5W
            </td>
            <td class="level">41</td>
            <td>
                300W
            </td>
            <td class="level">61</td>
            <td>
                3500W
            </td>
        </tr>
        <tr>
            <td class="level">2</td>
            <td>
                200
            </td>
            <td class="level">22</td>
            <td>
                2W
            </td>
            <td class="level">42</td>
            <td>
                400W
            </td>
            <td class="level">62</td>
            <td>
                3800W
            </td>
        </tr>
        <tr>
            <td class="level">3</td>
            <td>
                400
            </td>
            <td class="level">23</td>
            <td>
                3W
            </td>
            <td class="level">43</td>
            <td>
                500W
            </td>
            <td class="level">63</td>
            <td>
                4200W
            </td>
        </tr>
        <tr>
            <td class="level">4</td>
            <td>
                600
            </td>
            <td class="level">24</td>
            <td>
                5W
            </td>
            <td class="level">44</td>
            <td>
                600W
            </td>
            <td class="level">64</td>
            <td>
                4600W
            </td>
        </tr>
        <tr>
            <td class="level">5</td>
            <td>
                900
            </td>
            <td class="level">25</td>
            <td>
                7W
            </td>
            <td class="level">45</td>
            <td>
                700W
            </td>
            <td class="level">65</td>
            <td>
                5000W
            </td>
        </tr>
        <tr>
            <td class="level">6</td>
            <td>
                1200
            </td>
            <td class="level">26</td>
            <td>
                9W
            </td>
            <td class="level">46</td>
            <td>
                800W
            </td>
            <td class="level">66</td>
            <td>
                6000W
            </td>
        </tr>
        <tr>
            <td class="level">7</td>
            <td>
                1500
            </td>
            <td class="level">27</td>
            <td>
                11W
            </td>
            <td class="level">47</td>
            <td>
                900W
            </td>
            <td class="level">67</td>
            <td>
                7000W
            </td>
        </tr>
        <tr>
            <td class="level">8</td>
            <td>
                2000
            </td>
            <td class="level">28</td>
            <td>
                13W
            </td>
            <td class="level">48</td>
            <td>
                1000W
            </td>
            <td class="level">68</td>
            <td>
                8000W
            </td>
        </tr>
        <tr>
            <td class="level">9</td>
            <td>
                2500
            </td>
            <td class="level">29</td>
            <td>
                15W
            </td>
            <td class="level">49</td>
            <td>
                1100W
            </td>
            <td class="level">69</td>
            <td>
                9000W
            </td>
        </tr>
        <tr>
            <td class="level">10</td>
            <td>
                3000
            </td>
            <td class="level">30</td>
            <td>
                17W
            </td>
            <td class="level">50</td>
            <td>
                1300W
            </td>
            <td class="level">70</td>
            <td>
                1E
            </td>
        </tr>
        <tr>
            <td class="level">11</td>
            <td>
                3500
            </td>
            <td class="level">31</td>
            <td>
                19W
            </td>
            <td class="level">51</td>
            <td>
                1500W
            </td>
            <td class="level">71</td>
            <td>
                2E
            </td>
        </tr>
        <tr>
            <td class="level">12</td>
            <td>
                4000
            </td>
            <td class="level">32</td>
            <td>
                21W
            </td>
            <td class="level">52</td>
            <td>
                1700W
            </td>
            <td class="level">72</td>
            <td>
                3E
            </td>
        </tr>
        <tr>
            <td class="level">13</td>
            <td>
                4500
            </td>
            <td class="level">33</td>
            <td>
                23W
            </td>
            <td class="level">53</td>
            <td>
                1900W
            </td>
            <td class="level">73</td>
            <td>
                4E
            </td>
        </tr>
        <tr>
            <td class="level">14</td>
            <td>
                5000
            </td>
            <td class="level">34</td>
            <td>
                25W
            </td>
            <td class="level">54</td>
            <td>
                2100W
            </td>
            <td class="level">74</td>
            <td>
                5E
            </td>
        </tr>
        <tr>
            <td class="level">15</td>
            <td>
                5500
            </td>
            <td class="level">35</td>
            <td>
                30W
            </td>
            <td class="level">55</td>
            <td>
                2300W
            </td>
            <td class="level">75</td>
            <td>
                6E
            </td>
        </tr>
        <tr>
            <td class="level">16</td>
            <td>
                6000
            </td>
            <td class="level">36</td>
            <td>
                50W
            </td>
            <td class="level">56</td>
            <td>
                2500W
            </td>
            <td class="level">76</td>
            <td>
                7E
            </td>
        </tr>
        <tr>
            <td class="level">17</td>
            <td>
                7000
            </td>
            <td class="level">37</td>
            <td>
                70W
            </td>
            <td class="level">57</td>
            <td>
                2700W
            </td>
            <td class="level">77</td>
            <td>
                8E
            </td>
        </tr>
        <tr>
            <td class="level">18</td>
            <td>
                8000
            </td>
            <td class="level">38</td>
            <td>
                90W
            </td>
            <td class="level">58</td>
            <td>
                2900W
            </td>
            <td class="level">78</td>
            <td>
                9E
            </td>
        </tr>
        <tr>
            <td class="level">19</td>
            <td>
                9000
            </td>
            <td class="level">39</td>
            <td>
                110W
            </td>
            <td class="level">59</td>
            <td>
                3100W
            </td>
            <td class="level">79</td>
            <td>
                10E
            </td>
        </tr>
        <tr>
            <td class="level">20</td>
            <td>
                1W
            </td>
            <td class="level">40</td>
            <td>
                200W
            </td>
            <td class="level">60</td>
            <td>
                3300W
            </td>
            <td class="level">80</td>
            <td>
                ~~~
            </td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: baidu-script">百度统计script</div>
</body>
</html>