<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<div class="container">
    <h3>【落霞村】</h3>
    <table class='table table-hover'>
        <tr>
            <td>落霞村至落霞山谷</td>
            <td>7,7</td>
        </tr>
        <tr>
            <td>落霞山谷至落霞村</td>
            <td>200,252</td>
        </tr>
        <tr>
            <td>落霞村至新手指引</td>
            <td>21.15</td>
        </tr>
        <tr>
            <td>落霞村至仓库老板</td>
            <td>25,14</td>
        </tr>
        <tr>
            <td>落霞村至小贩</td>
            <td>14,30</td>
        </tr>
        <tr>
            <td>落霞村至铁匠</td>
            <td>49,11</td>
        </tr>
        <tr>
            <td>落霞村至船夫</td>
            <td>59,29</td>
        </tr>
    </table>
    <h3>【矿窑】</h3>
    <table class='table table-hover'>
        <tr>
            <td>落霞山谷王老伯</td>
            <td>54,54</td>
        </tr>
        <tr>
            <td>矿窑至神秘学者</td>
            <td>13,52</td>
        </tr>
    </table>
    <h3>【赤月峡谷】</h3>
    <table class='table table-hover'>
        <tr>
            <td>矿窑至赤月峡谷</td>
            <td>134,19</td>
        </tr>
        <tr>
            <td>赤月峡谷至矿窑</td>
            <td>46,189</td>
        </tr>
        <tr>
            <td>赤月峡谷至赤月峡谷东</td>
            <td>178,54</td>
        </tr>
        <tr>
            <td>赤月峡谷东至赤月峡谷</td>
            <td>13,19</td>
        </tr>
        <tr>
            <td>赤月峡谷东至恶魔之地</td>
            <td>79,13</td>
        </tr>
        <tr>
            <td>赤月峡谷至赤月峡谷西</td>
            <td>13,26</td>
        </tr>
        <tr>
            <td>赤月峡谷西至赤月峡谷</td>
            <td>42,91</td>
        </tr>
        <tr>
            <td>赤月峡谷西至沉睡之地</td>
            <td>87,36</td>
        </tr>
        <tr>
            <td>沉睡之地至赤月峡谷西</td>
            <td>21,26</td>
        </tr>
    </table>
    <h3>【兽人古墓】</h3>
    <table class='table table-hover'>
        <tr>
            <td>落霞山谷至兽人古墓一层</td>
            <td>268,108</td>
        </tr>
        <tr>
            <td>兽人古墓一层至落霞山谷</td>
            <td>18,100</td>
        </tr>
        <tr>
            <td>兽人古墓一层至兽人古墓二层</td>
            <td>86,15</td>
        </tr>
        <tr>
            <td>兽人古墓二层至兽人古墓一层</td>
            <td>37,83</td>
        </tr>
        <tr>
            <td>兽人古墓二层至小宝（任务）</td>
            <td>11,36</td>
        </tr>
    </table>
    <h3>【沃玛】</h3>
    <table class='table table-hover'>
        <tr>
            <td>兽人古墓二层至沃玛大厅</td>
            <td>35,18</td>
        </tr>
        <tr>
            <td>沃玛大厅至兽人古墓二层</td>
            <td>60,62</td>
        </tr>
        <tr>
            <td>沃玛大厅至恶魔商人</td>
            <td>65,51</td>
        </tr>
        <tr>
            <td>沃玛大厅到沃玛神殿</td>
            <td>12,32</td>
        </tr>
        <tr>
            <td>沃玛神殿至沃玛大厅</td>
            <td>14,21</td>
        </tr>
        <tr>
            <td>沃玛神殿到连接通道</td>
            <td>92,101</td>
        </tr>
        <tr>
            <td>连接通道至沃玛神殿</td>
            <td>19,169</td>
        </tr>
    </table>
    <h3>【封魔大陆】</h3>
    <table class='table table-hover'>
        <tr>
            <td>连接通道至封魔大陆</td>
            <td>188,185</td>
        </tr>
        <tr>
            <td>封魔大陆至连接通道</td>
            <td>17,28</td>
        </tr>
        <tr>
            <td>封魔大陆至封魔商人</td>
            <td>121,141</td>
        </tr>
        <tr>
            <td>封魔大陆至仓库老板</td>
            <td>123,87</td>
        </tr>
        <tr>
            <td>封魔大陆回城点</td>
            <td>122,118</td>
        </tr>
        <tr>
            <td>封魔大陆至皇宫</td>
            <td>95,96</td>
        </tr>
        <tr>
            <td>皇宫至封魔大陆</td>
            <td>12,42</td>
        </tr>
        <tr>
            <td>皇宫至司徒秋言（副本）</td>
            <td>22,26</td>
        </tr>
    </table>
    <h3>【祖玛】</h3>
    <table class='table table-hover'>
        <tr>
            <td>封魔大陆对话封魔城主</td>
            <td>97,94</td>
        </tr>
        <tr>
            <td>祖玛至封魔大陆</td>
            <td>71,33</td>
        </tr>
    </table>
    <h3>【地牢】</h3>
    <table class='table table-hover'>
        <tr>
            <td>封魔大陆至地牢一层</td>
            <td>204,23</td>
        </tr>
        <tr>
            <td>地牢一层至封魔大陆</td>
            <td>16,28</td>
        </tr>
        <tr>
            <td>地牢一层至地牢二层</td>
            <td>30,9</td>
        </tr>
        <tr>
            <td>地牢二层至地牢一层</td>
            <td>33,55</td>
        </tr>
        <tr>
            <td>地牢二层杀触龙神至死亡深渊</td>
            <td>64,39</td>
        </tr>
        <tr>
            <td>死亡深渊至磨练之地</td>
            <td>193,123</td>
        </tr>
        <tr>
            <td>磨练之地至龙神殿</td>
            <td>19,21</td>
        </tr>
        <tr>
            <td>龙神殿至磨练之地</td>
            <td>13,31</td>
        </tr>
    </table>
    <h3>【牛魔】</h3>
    <table class='table table-hover'>
        <tr>
            <td>封魔大陆杀树妖进封魔密道</td>
            <td>184,233</td>
        </tr>
        <tr>
            <td>封魔密道至封魔大陆</td>
            <td>111,108</td>
        </tr>
        <tr>
            <td>封魔密道至牛魔大厅</td>
            <td>8,82</td>
        </tr>
        <tr>
            <td>牛魔大厅至封魔密道</td>
            <td>46,17</td>
        </tr>
    </table>
    <h3>【魔龙】</h3>
    <table class='table table-hover'>
        <tr>
            <td>封魔大陆至魔龙山</td>
            <td>239,297</td>
        </tr>
        <tr>
            <td>魔龙山至封魔大陆</td>
            <td>49,13</td>
        </tr>
        <tr>
            <td>魔龙山至浴血之地</td>
            <td>226,101</td>
        </tr>
        <tr>
            <td>浴血之地至魔龙山</td>
            <td>29,147</td>
        </tr>
        <tr>
            <td>浴血之地至传送古树</td>
            <td>169,148</td>
        </tr>
    </table>
    <h3>【狐月岛】</h3>
    <table class='table table-hover'>
        <tr>
            <td>落霞村至船夫</td>
            <td>59,29</td>
        </tr>
        <tr>
            <td>狐月岛至落霞村点老兵</td>
            <td>9,67</td>
        </tr>
        <tr>
            <td>狐月岛至杂货商人</td>
            <td>46,38</td>
        </tr>
        <tr>
            <td>狐月岛至仓库老板</td>
            <td>38,46</td>
        </tr>
        <tr>
            <td>狐月岛至地狱之路</td>
            <td>43,22</td>
        </tr>
        <tr>
            <td>地狱之路至狐月岛</td>
            <td>66，17</td>
        </tr>
        <tr>
            <td>狐月岛至凌霄天界</td>
            <td>54,12</td>
        </tr>
        <tr>
            <td>凌霄天界至狐月岛</td>
            <td>14,52</td>
        </tr>
        <tr>
            <td>凌霄天界至凌霄殿</td>
            <td>35,31</td>
        </tr>
        <tr>
            <td>凌霄殿至凌霄天界</td>
            <td>4,53</td>
        </tr>
    </table>
    <h3>【藏宝图】</h3>
    <table class='table table-hover'>
        <tr>
            <td>封魔大陆至玲珑仙岛</td>
            <td>200,220</td>
        </tr>
        <tr>
            <td>封魔大陆至巨人巷</td>
            <td>29,112</td>
        </tr>
        <tr>
            <td>落霞山谷至幽冥坛</td>
            <td>223,105</td>
        </tr>
    </table>
    <h3>【雪域地图】</h3>
    <table class='table table-hover'>
        <tr>
            <td>入口封魔大陆安全区冰像</td>
            <td>111,115</td>
        </tr>
        <tr>
            <td>静之冰谷至冰谷走廊（冰1至冰2）</td>
            <td>18,55</td>
        </tr>
        <tr>
            <td>冰谷走廊至静之冰谷（冰2至冰1）</td>
            <td>29,477</td>
        </tr>
        <tr>
            <td>冰谷走廊至寒冰王座（冰2只冰3）</td>
            <td>448,49</td>
        </tr>
        <tr>
            <td>寒冰王座至冰谷走廊（冰3至冰2）</td>
            <td>33,170</td>
        </tr>
        <tr>
            <td>寒冰王座（冰3）至五行之巅</td>
            <td>141,53</td>
        </tr>
        <tr>
            <td>五行之巅至寒冰王座（冰3）</td>
            <td>13,28</td>
        </tr>
        <tr>
            <td>五行之巅至月氏之路</td>
            <td>107,23</td>
        </tr>
        <tr>
            <td>月氏之路至五行之巅</td>
            <td>10,133</td>
        </tr>
        <tr>
            <td>月氏之路至月氏天空</td>
            <td>16,20</td>
        </tr>
        <tr>
            <td>月氏天空至月氏之路</td>
            <td>54,47</td>
        </tr>
    </table>
    <h3>【血色魔窟】</h3>
    <table class='table table-hover'>
        <tr>
            <td>冰谷走廊（冰2）至血色洞窟</td>
            <td>474,223</td>
        </tr>
        <tr>
            <td>血色洞窟至冰谷走廊（冰2）</td>
            <td>49,34</td>
        </tr>
        <tr>
            <td>血色洞窟至血色魔窟</td>
            <td>288,176</td>
        </tr>
        <tr>
            <td>血色魔窟至血色洞窟</td>
            <td>40,133</td>
        </tr>
    </table>

</div>
<div th:replace="fragments/footer :: baidu-script">百度统计script</div>
</body>
</html>