<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<div class="container">
    <h3>新地图的进入方法
    </h3>
    <table class="table table-hover">
        <tr>
            <th>地图名称</th>
            <th>说明</th>
            <th>备注</th>
        </tr>
        <tr>
            <td>尸王殿</td>
            <td>
                <p> 僵尸洞（矿窑）杀黄袍僵尸有一定几率出现传送门</p>

                <p> （其实是一个特定的僵尸，你杀完之后发现经验比其他的多，只可惜他们长一样，你不能分辨，所以只能一个个杀）</p>

                <p> 适合暴书，30+的人在此练级，2-3分钟刷新。每次数只。</p>
            </td>
            <td>
                [2.09.26]版本加入！
            </td>
        </tr>
        <tr>
            <td>磨练之地,龙神殿</td>
            <td>
                <p>[2.09.26]和[2.09.28]版本地图调整！</p>

                <p>1.牛魔大厅杀牛魔王有一定几率出现传送门>磨练之地>龙神殿</p>

                <p>2.杀触龙神进入死亡棺材，利用传送戒指，飞到坐标188,122，</p>

                <p>进入传送门到达。此方法比较快速。</p>
            </td>
            <td>
                <p>磨练之地深处，龙神殿门口有小贩</p>

                <p>一般用于买人参用.</p>

                <p>前期进来买初级鞋子腰带。</p>

            </td>
        </tr>
        <tr>
            <td> 月氏之路、月氏天空</td>
            <td>
                <p>五行之巅107，23有门可进入月氏之路。</p>

                <p>月氏之路17，20有门可进入月氏天宫。</p>
            </td>
            <td>
                <p>月氏之路小怪过于密集，不小心就死了！</p>

                <p>大家尽量进月氏之路前打好坐标，飞！</p>
            </td>
        </tr>
        <tr>
            <td>庄园</td>
            <td>
                <p>目前功能有：买东西，鉴定装备（需要鉴定卷轴），</p>
                <p>领取礼包：贴吧吧友护符，解绑装备：目前未开放</p>
                <p>传送进入秘境地图</p>
            </td>
            <td>
                <p>[2.09.39]版本加入！</p>
            </td>
        </tr>
        <tr>
            <td rowspan="3">挑战副本/伏魔令-赤/未知地图
            </td>
            <td>
                <p>杀魔龙教主，地狱boss，天界boss，月氏兽王，月氏战魔等出。</p>

                <p>带着伏魔令去皇宫（一定打好组队模式@createteam。否则进不去）找司徒秋言对话进入，进入后点击司徒秋言挑战开始。</p>

                <p>地图12分钟限制，时间到了强制退出，不管你是死是活。</p>
            </td>
            <td rowspan="3">
                <p> [2.09.35]版本加入！

                    只需要队长身上有令牌就可以。</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>第一波魔龙教主带领。</p>
                <p>第二波天界守护神带领，有精英首领小怪出现。</p>
                <p>第三波地狱boss带领，有精英首领小怪出现。</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>击杀成功后会有通关奖励</p>
                <p>（1人无奖励，必须2人以上才会有奖励出现），还会出现宝箱。</p>
                <p>2.09.36版本加入：人数的多少决定副本内怪物的出现数量和奖励</p>
                <p>2人奖励一个、4人奖励2个、6人奖励3个！</p>
            </td>
        </tr>
        <tr>
            <td rowspan="3">挑战副本/伏魔令-阎/地狱神殿</td>
            <td>
                <p>杀月氏战魔、或七颗佛珠任务（详细请查阅支线任务）换取令牌！</p>
                <p>带着伏魔令去皇宫（一定打好组队模式@createteam。否则进不去）找司徒秋言对话进入，进入后点击司徒秋言挑战开始。</p>
                <p>地图22分钟限制，时间到了强制退出，不管你是死是活。</p>
            </td>
            <td rowspan="3">
                <p> [2.09.35]版本加入！
                    只需要队长身上有令牌就可以。</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>第一波数只阎魔御卫。</p>
                <p>第二波数只阎魔御卫和一个阎罗守护炎魔。</p>
                <p>第三波阎魔太子（随机召唤2名阎魔御卫）</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>击杀成功后会有通关奖励</p>
                <p>（1人无奖励，必须2人以上才会有奖励出现），还会出现宝箱。</p>
                <p>2人奖励一个、4人奖励2个、6人奖励3个！</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2">挑战副本/伏魔令-破/火龙神殿</td>
            <td>
                <p>掉落：浴血之地通过血之祭台，进火龙神殿【火龙教主】</p>
                <p>带着伏魔令去皇宫（一定打好组队模式@createteam。否则进不去）找司徒秋言对话进入，进入后点击司徒秋言挑战开始。</p>
                <p>地图15分钟限制，时间到了强制退出，不管你是死是活。</p>
            </td>
            <td rowspan="2">
                <p> 火龙神殿需要完成支线任务</p>
            </td>
        </tr>
        <tr>
            <td> 击杀成功后会有通关奖励（1人情况下也有），还会出现宝箱。</td>
        </tr>
        <tr>
            <td>秘境地图</td>
            <td>
                <p>凭证掉落：双头金刚、双头血魔、牛魔王、触龙神、暗之触龙神、天界守护神、沃玛教主、祖玛教主、佛珠任务</p>
                <p>带着秘境凭证去庄园跟老兵对话传送进去，目前游戏版本秘境有4层。</p>
                <p>具体查看：传送门</p>
            </td>
            <td>
                <p>一层杀50个怪对话NPC进入2层</p>
                <p>二层金矿唯一掉落点</p>
                <p>三层杀一定数量小怪出幻之牛魔王</p>
                <p>四层杀幻之牛魔王几率出门</p>
            </td>
        </tr>
    </table>
</div>
<div th:replace="fragments/footer :: baidu-script">百度统计script</div>
</body>
</html>