<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<div class="container">
    <h3>常见问题</h3>
    <pre>
游戏作者:sryan yuan

特别鸣谢群里的管理员们，以及辛苦编写游戏攻略的 夜的第七章、佐佐



[2.10.18] 2016.09.03

1.修复在极端情况下大仓库数据可能丢失的问题

2.调整3阶及以下装备的鉴定流程，可以在落霞村铁匠处进行鉴定



[2.10.17] 2016.08.27

1.鉴定卷轴可以在藏宝图内爆出，免除了低等级装备无法鉴定的问题

2.有5件或者以上相同品质的装备，可以激活增强攻击属性

3.调整破天魔龙

4.重构线程结构，将提升服务器性能，以及节省服务器资源占用，会减少出刀等卡住的现象

5.修复宝宝攻击延迟的问题



[2.10.16] 2016.06.05

1.修复范围魔法能攻击自己的BUG

2.添加聊天背景装饰卡

3.修复火龙气焰和破天魔龙技能伤害错误问题

4.提高施法速度

5.调整单体魔法和范围魔法的伤害系数



[2.10.15] 2016.06.04

1.优化聊天窗口，支持滚动刷屏，不会满了就清空了

2.优化聊天窗口，长按上或者下可以到最上或者最下的聊天记录

3.代码大规模优化重构，可能有BUG，请在群内反馈

4.范围魔法攻击算法重构，可以有暴击

5.支持强制指定人物为目标，方法为按住ctrl后点击别的玩家

6.完整PVP模块开放，魔法攻击也支持了

7.增加从游戏场景小退到人物选择界面的功能

8.修正I7处理器的机器开启服务器后卡顿，崩溃的问题(待验证)

9.单机模式下的全局定时事件支持（目前支持圣诞老人）

10.商城的名字装饰卡添加

11.免除热心吧友护符申请，35级以上即可领取

12.PVP模式目前支持和平模式，杀戮模式与组队模式

13.Launcher皮肤更新，作者为 银狐，十分感谢



[2.10.14] 2016.01.23

1.修正鉴定属性范围的算法,防御系和伤害系的上限为15点

2.修改怪物描边为黄边

3.修正其它的一些BUG



[2.10.13] 2016.01.22

1.调整鉴定属性，取消攻击魔法道术，增加物理攻击、魔法攻击、道术攻击属性，取消

准确躲避属性，增加物理躲避、魔法躲避属性，同时调整属性上限

2.增加混沌石，在潘多拉魔盒内可以以一定几率转移装备的鉴定属性

3.修复勋章无法用乾坤石洗属性的问题

4.取消怪物选中的高亮显示，改为红色描边

5.调整先天罡气效果，降低中毒、石化等负面效果的持续时间

6.添加武器外观凭证和服装外观凭证



[2.10.12] 2016.01.10

1.取消锻造书、藏宝图、伏魔令无法保存的设定

2.修改手工锻造装备设定，高品质材料必出星级装备，品质越高，星级越高

3.优化怪物石化后人物被遮挡的问题

4.修复木材掉落后品质为0的问题

5.添加秘境4层以及相关怪物

6.调整秘境1-3层怪物与爆出物品、怪物属性等

7.调整单机商城内道具的价格，价格为原来的1/10



[2.10.11] 2015.12.29

1.优化一些地方的金额显示，用','分隔

2.提升一倍混元石合成极品的概率

3.调整一些设定不当的潜能属性

4.新增一些潜能属性

5.可鉴定装备改用红色显示

6.优化强化选取模式

7.新增木材制作材料

8.新增木材相关装备

9.服务器添加一个配置窗口，可以配置精英怪物、难度等

10.修复暴击上限计算错误的BUG,导致直接计算了上限的伤害

11.修复炫紫烟花燃放没有显示效果的BUG



[2.10.10] 2015.12.05

1.重构脚本引擎

2.调整火龙任务，非战网模式下不用获得阎魔之灵

3.单机模式下添加难度调整，调整方式在游戏帮助中

4.提升手工制造装备出现极品的几率

5.非战网模式下，存档后记录背包位置，战网模式，下线记录背包位置

6.修复秘境三层幻之牛魔王的刷新位置，并且提高该地图幻之牛魔王的数量上限



[2.10.09] 2015.11.22

1.修复战网制作手工装备制作不出极品的问题

2.修复战网制作手工装备等级不提升的问题

3.修复战网制作手工装备经验值显示不正确的问题

4.调整火龙神殿的进入方式

5.开放新的三件手工武器及多种潜能属性

6.调整怨恶巨兽为固定点刷新

7.开放6级潜能石



[2.10.08] 2015.11.21

1.修复某些魔法动画坐标不正确的问题

2.优化血条颜色显示

3.优化寄售商铺，支持类别筛选以及我的寄售筛选

4.开放扩展仓库



[2.10.07] 2015.11.19

1.修复打重叠怪物时候普通攻击无效的问题

2.增强道士施毒术降低怪物防御的效果

3.优化怪物冰冻后移动的动画效果



[2.10.06] 2015.11.18

1.修复频繁掉线的BUG



[2.10.05] 2015.11.17

1.修复使用烈火或者其它攻击技能后攻击效果不消失问题

2.优化网络不稳定情况下出刀卡住的情况

3.修复一些bug



[2.10.04] 2015.11.16

1.修复仓库存入东西后计数错误的bug

2.优化联机体验，网络延迟在200ms内出刀无延迟，攻速属性生效

3.修复天龙套装暴击上限计算错误的bug

4.优化秘境一层进入二层的方式，改为点击NPC进入

5.调整金币上限至1亿



[2.10.03] 2015.11.07

1.单机及联网模式下爆率为2倍（和以前版本吃双倍爆率卷轴一样效果）

2.手工技能黑铁锭的任务修改为金锭的任务

3.修正进入秘境后，进入传送点回城的问题

4.优化游戏内的输入栏，支持粘贴操作(Ctrl+v)

5.秘境地图调整

6.加入新矿石：紫金矿

7.调整黑铁矿的冶炼等级为5

8.加入新的手工装备

9.加入新的潜能

10.商城加入千里传音礼包，发型重置凭证，翅膀重置凭证，聊天颜色凭证

11.调整矿石的爆出分布及爆率（大大提高）



[2.10.02] 2015.11.07

1.商城新增翅膀卡，可以随机更换翅膀

2.开放后续主线任务

3.提升秘境凭证爆率

4.修复宝宝和怪物一起死亡后怪物不会爆装备的问题

5.调整秘境一层杀怪数为50个

6.开放生活技能

7.开放部分装备制造列表

8.开放生活装备的潜能属性

9.开放矿石加工

10.优化部分数据包，减少服务器数据上传

11.修复具有麻痹属性的怪物麻痹几率过高的问题



[2.10.01] 2015.10.31

1.修复玩家信息窗口显示女角色为男角色的问题

2.调整秘境一层杀怪数量100个进入二层

3.优化秘境一层地图，每杀怪10个进行一次提醒

4.缩短攻击延迟时间

5.新增玩家信息窗口私聊按钮

6.开放秘境三层地图及相关怪物

7.开放矿石类材料

8.调整秘境地图

9.调整秘境地图的停留时间为2小时

10.修复武器成长中的弱点打击无效的问题

11.修正某些魔法动画偏移错误问题



[2.10.00] 2015.10.30

1.添加游戏商城系统。非战网模式下所有道具均可以使用游戏币购买，战网可用贡献点来购买(通过捐赠获得)

2.添加普通发型卡道具，可以随机更换发型

3.修复无法鉴定的BUG

4.战网寄售的一键回收前增加询问

5.修复人物存档数据大于某一值时候服务端崩溃的问题

6.增加游戏服务器健壮性

7.优化暴击的数字提示

8.增加秘境系列地图



[2.09.48] 2015.10.17

1.部分界面换肤

2.调整装备属性显示界面

3.修复查看对方装备无法显示完整套装属性和鉴定属性的bug

4.调整寄售窗口

5.战网服务器添加排行榜功能(游戏菜单->游戏排行)

6.调整等级上限为80级



[2.09.47] 2015.10.13

1.调整副本结束后自动退出副本的时间为60秒

2.优化怪物选中时候的效果

3.改进联机大厅功能，可以显示各服务器的延迟，显示各服务器的版本号

4.新增服务器管理内查看各玩家延迟的功能



[2.09.46] 2015.10.5

1.提升0.5倍爆率

2.修正天龙道袍(女)属性错误

3.调整技能时间显示

4.更新登陆器，增加联机大厅。支持将自己的服务器注册至联机大厅，方便大家联网游戏



[2.09.45] 2015.9.3

1.调整召唤天王为召唤月灵

2.调整法师技能

3.修复天龙衣服没有翅膀的问题

[2.09.44] 2015.8.30

1.增加法师新技能

2.宝箱增加经验卷轴的爆率，添加金条爆率，副本宝箱添加新的技能书籍和金条

3.修复精英首领爆率失效的问题

4.修复召唤多只宝宝互相攻击的bug



[2.09.43] 2015.8.29

1.添加道士新召唤兽



[2.09.42] 2015.8.29

1.取消装备合成经验卷轴的功能

2.新加入道具大补丹，获得方式为装备在潘多拉魔盒中合成

3.添加三职业天龙套装

4.加强道士神圣战甲术对于自身的效果和对自己宠物的效果

5.取消双倍爆率卷轴的效果，爆率永久提升0.5倍

6.添加BOSS 火龙教主



[2.09.41] 2015.8.16

1.调整金刚不坏效果

2.添加法师新技能 护体神盾

3.修正切换场景后无法看到别的玩家的技能状态的bug

4.破天魔龙属性调整



[2.09.40] 2015.8.15

1.修复按键映射无效的问题

2.调整快速释放魔法快捷键为~

3.优化聊天窗口，比如过长的内容自动换行等

4.修复寄售购买道具后部分快捷键失效的问题

5.取消游戏加壳

6.修复一处导致服务器崩溃的bug

7.增加庄园NPC出售鉴定卷轴

8.聊天内容缓存，可以用上下方向键快速选择历史输入内容

9.新增火龙神殿副本地图，BOSS破天教主以及破天魔龙

10.新增若干装备



[2.09.39] 2015.6.20

本版本为补丁形式发布，需要2.09.38及以上版本完整游戏支持，将此补丁放入游戏根目录下的Patcher目录下，打开登陆器(BMLauncher.exe)，点击补丁更新即可

1.添加道具合成功能。3件和以上的同样装备，配合混元石，在潘多拉魔盒内可以在一定几率下提升装备极品点数。

2.添加鉴定系统，任意装备爆出后，可能附带有鉴定属性，需要使用鉴定卷轴进行鉴定。

3.增加庄园地图，单机联机版本可在老兵处领取热心贴吧护符，战网玩家需要申请才能领取。

4.优化地面物品叠加后的显示方式



[2.09.38] 2015.6.8

本版本为优化版本，版本号不变

1.修复各含输入框窗口与快速物品栏快捷键冲突的问题

2.优化强化灵魂火符、强化雷电术技能效果



[2.09.38] 2015.4.4

本版本为补丁形式发布，需要2.09.37及以上版本完整游戏支持，将此补丁放入游戏根目录下的Patcher目录下，打开登陆器(BMLauncher.exe)，点击补丁更新即可

或者直接解压本压缩包，覆盖老版本游戏目录即可

1.提升金刚不坏技能效果。提升为吸收伤害、反弹伤害并且永久提升物理防御力、魔法防御力

2.调整伏魔令（阎）的出处，修改为佛珠任务奖励

3.调整阎魔太子属性

4.新增王者系列武器

5.修复新人物上线无法获取背包物品的bug

6.修复副本宝箱位置的bug

7.调整级数上限为70级



[2.09.37] 2015.3.22

本版本为补丁形式发布，需要2.09.36及以上版本完整游戏支持，将此补丁放入游戏根目录下的Patcher目录下，打开登陆器(BMLauncher.exe)，点击补丁更新即可

1.优化系统通知公告，改为游戏内浮动公告

2.优化战网账户注册流程

3.添加“地狱神殿”挑战地图，需要伏魔令（阎）进入

4.添加阎魔太子BOSS及御卫

5.添加其余王者装备（除武器）



[2.09.36] 2014.12.21

本版本为补丁形式发布，需要2.09.29及以上版本完整游戏支持，直接替换即可

1.修复多开号进入副本地图时候，客户端某一个号切换地图失败问题

2.优化爆出物品被怪物遮挡问题

3.物品过滤功能添加

4.调整伏魔令(赤)副本难度，副本难度依照组队人数增加而增加，奖励也随人数增加而增加，时长修改为12分钟

5.成功进入游戏后，自动备份存档，路径为save\\hum.bak

6.添加热心贴吧吧友护符，申领途径见后续活动

7.修改死亡深渊的等级限制为30

8.修改杀死蜈蚣任务的地图为地牢一层和地牢二层

9.战网支持在登陆器上进行账户注册操作



[2.09.35] 2014.11.15

本版本为补丁形式发布，需要2.09.33及以上版本完整游戏支持，将此补丁放入游戏根目录下的Patcher目录下，打开登陆器，点击补丁更新即可

1.勋章可以爆出极品

2.增加组队挑战地图，大量经验，装备奖励



[2.09.34] 2014.11.8

本版本为补丁形式发布，需要2.09.33及以上版本完整游戏支持，直接替换即可

1.修复部分名字登陆后，其它玩家显示人物名字客户端崩溃问题

2.修复烈火剑法加成错误问题

3.优化私聊功能，左键人物的公开或者私聊聊天记录可以快速进入私聊模式

4.修复群体治愈术魔法锁定问题

5.添加寄售商铺一键回收功能

6.开发了新的登陆器，支持问题诊断和自动打补丁包功能

7.调整武器成长

8.修复服务器在线人数显示错误问题，添加处理怪物逻辑个数显示

9.取消长按tab键显示大地图

10.增加在大地图点击左键快速传送功能（需配备传送戒指）

11.取消~键捡物和ctrl+空格捡物，支持鼠标左键捡物

12.修复乾坤石使用后装备显示无变化问题

13.修复装备成长后使用乾坤石成长重置问题

14.捐赠列表补全

--    注：

新版本登陆器支持自动打补丁包，只要把之后版本的补丁包放入游戏目录内的Patcher目录，即可在登陆器界面点击补丁更新进行自动更新

++++++++++++++++++++++++++++++++++++++++++++++

2.09.34 bug修复

1.修复寄售时候客户端崩溃问题

2.修复点击非聊天区域也出现私聊模式问题

3.传送间隔修改为15S

4.人物属性面板主属性显示错误



[2.09.33] 2014.10.18

本版本为补丁形式发布，需要2.09.32及以上版本完整游戏支持，直接替换即可

1.修复寄售商铺第一页物品属性显示乱码问题（vector容器超过预设的容量导致重分配，原始指针引用失效）

2.修复月氏石增加技能能力无效问题

3.新增武器成长系统

4.新增私聊功能（与传奇一样，/name msg），右键私聊聊天记录可以快速复制聊天发送对象



[2.09.32] 2014.10.12

本版本为补丁形式发布，需要2.09.31及以上版本完整游戏支持，直接替换即可

1.增加在线寄售商铺

2.增加战士新技能

3.王者衣服特效修改

+++++++++++++++++++++++++++++++++++++++++++

2.09.32 bug修复

1.修复装备防御属性极品增加值显示错误问题

2.修复收回自己寄售物品时候当自身金币没有超过寄售金额时收回失败问题



[2.09.31] 2014.10.4

本版本为补丁形式发布，需要2.09.30及以上版本完整游戏支持，直接替换即可

1.添加一些捐赠名单

2.月氏之路后续地图

3.暂时停更，续更时间未知。某些人在官方群里散发作弊器，真是可耻。官方贴吧和官方群只欢迎正常玩家，我没有义务求着你玩这游戏。

+++++++++++++++++++++++++++++++++++++++++++

2.09.31 优化

1.降低月氏天宫boss难度

2.添加王者套装属性，最高伤害吸收累计可达34%

+++++++++++++++++++++++++++++++++++++++++++

2.09.31 bug修复

1.修复月氏蜥蜴杀死玩家后服务器崩溃问题



[2.09.30] 2014.10.3

本版本为补丁形式发布，需要2.09.29及以上版本完整游戏支持，直接替换即可

1.购买物品询问数量窗口默认数量改为20（一组）

2.新增性能模式选项。采用rtt技术，可以降低大约5~10%cpu占用率

3.lua虚拟机更换为luajit

4.增加封魔皇宫地图，记录着每一位捐赠者的信息

5.补全一些怪物的声音

6.开放五行之巅后续地图



[2.09.29] 2014.09.27

本版本为补丁形式发布，需要2.09.28及以上版本完整游戏支持，直接替换即可

1.优化窗口控制系统，解决快速拖动游戏内窗口时候失去焦点问题

2.购买消耗品时候可以直接选择购买数量

3.丢弃消耗品时候可以直接选择丢弃数量

4.支持背包内消耗品的拆解，操作方法为按住alt点击消耗品



[2.09.28] 2014.09.22

本版本为补丁形式发布，需要2.09.27及以上版本完整游戏支持，直接替换即可

1.小地图窗口半透明显示

2.增加飘血动画开关

3.杀死boss级别怪物有较高几率获得奖券，来获得金币

4.修复浴血之地部分障碍消失bug

5.蜈蚣洞地图调整

6.提高麻痹戒指麻痹几率

7.修复大地图某些情况下自己人物的坐标点无法显示的问题



[2.09.27] 2014.09.21

本版本为补丁形式发布，需要2.09.26及以上版本完整游戏支持，直接替换即可

1.调整凤天衣服动画效果

2.调整人物属性页窗口

3.增加其它人物窗口

4.修改服务器默认实时通知怪物HP变化，若需要关闭，请在cfg.ini中设置DISABLEVALUENOTIFY=1

5.精华石升级装备价格修改



[2.09.26] 2014.09.20

本版本为补丁形式发布，需要2.09.25及以上版本完整游戏支持，直接替换即可

1.支持~按键捡取物品

2.凤天，凰天服装特殊效果添加

3.僵尸洞地图调整

4.封魔密道地图调整



[2.09.25] 2014.09.13

本版本为补丁形式发布，需要2.09.24及以上版本完整游戏支持，直接替换即可

1.修复落霞山谷，连接通道等显示不正确问题

2.修复精英和首领级别怪物无双倍效果问题

3.支持JPG截图，修改game.ini中的JPGSNAP=1即可



[2.09.24] 2014.09.11

本版本为补丁形式发布，需要2.09.23及以上版本完整游戏支持，直接替换即可

1.小地图和大地图中自己的点始终最前显示

2.藏宝图挖出的门会随门的消失而消失

3.添加双倍时间显示及各种状态技能显示

4.切换地图后原本的魔法效果保留



[2.09.23] 2014.09.07

本版本为补丁形式发布，需要2.09.22及以上版本完整游戏支持，直接替换即可

1.索命毒雾技能效果调整

2.增加强化灵魂火符



[2.09.22] 2014.09.05

本版本为补丁形式发布，需要2.09.21及以上版本完整游戏支持，直接替换即可

1.大地图与小地图人物，怪物，NPC标识更清楚

2.增加飘血动画效果



[2.09.21] 2014.08.31

本版本为补丁形式发布，需要2.09.20及以上版本完整游戏支持，直接替换即可

1.治愈术与群体治愈术可以与药品效果相叠加

2.道士双白虎支持

3.道士技能添加

4.法师支持召唤狐狸系列怪物

5.修复在地图边角释放火墙导致崩溃的bug

6.群体治愈术图标添加

7.魔窟地图恶魔唤醒固定坐标(中间祭坛)



[2.09.20_1] 2014.06.21

本版本为补丁形式发布，需要2.09.20及以上版本完整游戏支持，直接替换即可(需已打2.09.20补丁)

1.经玩家测试后调整新地图boss难度

2.加入辅助窗口的关闭按钮

3.补全冰焰术，先天气功，火流星声音



[2.09.20] 2014.06.21

本版本为补丁形式发布，需要2.09.10及以上版本完整游戏支持，直接替换即可

1.去除客户端多开限制

2.降低雪域怪物属性和密度

3.降低牛魔大厅怪物密度

4.新增冰宫boss级怪物爆八卦符咒

5.增加部分音效

6.血色系列地图加入，相关怪物加入

7.新增王者系列服装

8.调整部分界面

9.调整祈福项链属性

10.优化内存自动释放机制



[2.09.10] 2014.03.09

本版本为补丁形式发布，需要2.09.00及以上版本完整游戏支持，直接替换即可

1.进游戏了解



[2.09.00] 2014.02.22

此版本为完整客户端

1.修复无限召唤野生骷髅bug

2.增加部分游戏音效，提升游戏打击感



[2.08.11] 2014.02.22 (后续会发布完整游戏安装包，停更，考虑开放版本制作工具进行mod，支持地图、任务、装备、怪物，套装等的扩展)

本版本为补丁形式发布，需要2.08.11及以上版本完整游戏支持，直接替换即可

1.杀死精英怪物和首领怪物后一定几率获得双倍爆率祝福

2.冰宫地图怪物属性减弱

3.修复若干bug



[2.08.11] 2014.01.29

本版本为补丁形式发布，需要2.08.10及以上版本完整游戏支持，直接替换即可

1.人物属性上升级数由7级改为5级

2.道士可以召唤2只任意宝宝

3.增加道士群体治愈术

4.一些怪物声音增加

5.套装属性调整

6.增加落霞村900巨型多角虫

7.增加连接通道的邪恶毒蛇

8.恶魔封印水任务若丢失任务道具，可重复取得



[2.08.10] 2014.01.16

本版本为补丁形式发布，需要2.08.06及以上版本完整游戏支持，直接替换即可

1.改进游戏架构，游戏不用读进度条秒进

2.优化游戏登陆器

3.战网模式添加（战网服务器套件下次发）

4.法师修正有盾情况下无法开盾的bug

5.道士在3级白虎技能的情况下可以与上古神兽共存



[2.08.06] 2014.01.04

本版本为补丁形式发布，需要2.08.03及以上版本完整游戏支持，直接替换即可

1.职业平衡调整

2.新添特戒复活戒指

3.佛珠任务奖励的八卦符咒调整为3个

4.调高开天，镇天，玄天的爆率（一倍以上），同时增加上古级3天武器

5.双倍爆率卷轴添加

6.极品装备卖出价格调整

7.新的游戏登陆器以适应可能出现的多种游戏模式

8.修正存档后游戏角色名字出错问题



[2.08.05] 2013.12.10

本版本为补丁形式发布，需要2.08.03及以上版本完整游戏支持，直接替换即可

1.添加三职业寂静之手

2.调整阎魔难度

3.添加增强怪物选取模式选项



[2.08.04] 2013.12.06

本版本为补丁形式发布，需要2.08.03及以上版本完整游戏支持，直接替换即可

1.修复史诗级装备无法使用乾坤石问题

2.增加强化雷电术，强化施毒术及强化刺杀剑法

3.一个服务器崩溃问题修复



[2.08.03] 2013.11.26

本版本为补丁形式发布，需要2.08.00及以上版本完整游戏支持，直接替换即可

1.七颗佛珠任务调整

2.添加开天，镇天，玄天



[2.08.02] 2013.11.25

本版本为补丁形式发布，需要2.08.00及以上版本完整游戏支持，直接替换即可

1.降低雪域地图怪物魔防

2.调整道士神圣战甲术

3.添加其他玩家装备查看功能，方法为选中其他玩家，按住Alt，按一下V



[2.08.01] 2013.11.23

本版本为补丁形式发布，需要2.08.00及以上版本完整游戏支持，直接替换即可

1.降低雪域难度

2.去除寒冰魔王血量低飞走能力

3.冰雪王座地图增加BOSS刷新点

4.添加特效金创药及特效魔法药



[2.08.00] 2013.11.22

本版本为补丁形式发布，需要2.07.07及以上版本完整游戏支持，直接替换即可

1.统一仓库及商店界面

2.布衣可以爆出

3.修正客户端动画效果错位问题

4.修正套装属性计算错误问题

5.提高初期地图怪物爆率

6.添加冰雪王座系列地图

7.添加冰雪王座系列怪物

8.添加狂雷，逆火，通云系列装备

9.主线任务延伸以连接冰雪王座地图，添加冰雪王座直线任务

10.极品装备添加史诗级装备，调整各项级别极品出现概率（增加）



[2.07.07] 2013.11.14

本版本为补丁形式发布，需要2.07.01及以上版本完整游戏支持，直接替换即可

1.解决一个服务器崩溃bug

2.客户端添加游戏设置窗口

3.服务端程序健壮性增加



[2.07.06] 2013.11.13

本版本为补丁形式发布，需要2.07.01及以上版本完整游戏支持，直接替换即可

1.修正循环任务，增加任务提示

2.增加掉落物品闪烁效果

3.增加服务器稳定性

4.增加游戏帮助窗口



[2.07.05] 2013.11.12

本版本为补丁形式发布，需要2.07.01及以上版本完整游戏支持，直接替换即可

1.添加40级乾坤石循环任务

2.修正部分服务器bug



[2.07.04] 2013.11.11

本版本为补丁形式发布，需要2.07.01完整游戏支持，直接替换即可

1.调整魔龙教主刷新

2.增加任务跟踪系统

3.加强服务器稳定性



[2.07.03] 2013.11.06

本版本为补丁形式发布，需要2.07.01完整游戏支持，直接替换即可

1.服务器长时间运行，客户端捡取东西不消失问题

2.队伍可以添加已在别的队伍中的玩家的问题

3.宝宝休息状态下受到攻击不会还手

4.触龙神隐身问题解决

5.添加战神级别装备级别

6.修正魔法宝石装备级别

7.添加霸者套装属性

8.修复一定情况下会无限弹出无法存档对话框的问题

9.法师主动杀死宝宝将会直接杀死宝宝，而不是取消宝宝主人

10.游戏文字提示功能失效修复（按钮提示，技能提示）

11.宝箱提升屠龙，噬魂法杖爆率，加入乾坤石，爆率较高，同时加入所有特殊戒指，爆率较高

12.降低地狱之路小怪物难度



[2.07.02] 2013.11.05

本版本为补丁形式发布，需要2.07.01完整游戏支持，直接替换即可

1.修复魔龙衣服显示问题

2.修复书籍类使用要求提示颜色错误问题

3.服务器加入黑名单功能

4.游戏上线显示服务器经验倍率及装备爆率设置

5.限制远古骷髅精灵召唤



[2.07.01] 2013.11.01

本版本为补丁形式发布，需要2.07.00完整游戏支持，直接替换即可

1.优化装备显示窗口

2.法师诱惑之光增加3种狐狸怪物

3.解决连接通道客户端崩溃问题

4.修复藏宝图地图无法获取经验的问题

5.调整精英和首领怪物的掉落率



[2.07.00] 2013.10.30

本版本为补丁形式发布，需要2.06_00及以上完整游戏支持，直接替换即可

1.增大召唤白虎，乾坤石爆率

2.服务器自动踢出掉线人物

3.添加地狱之路地图

4.开放战神级别套装

5.地狱之路系列怪物，熔岩地狱恶魔BOSS



[2.06_03] 2013.10.28

本版本为补丁形式发布，需要2.05_00及以上完整游戏支持，直接替换即可

1.开放乾坤石，用法和精华石一样，可以随机分配装备的极品点数

2.大幅提升极品出现概率

3.修正精英和首领掉落极品装备的bug



[2.06_02] 2013.10.24

本版本为补丁形式发布，需要2.05_00完整游戏支持，直接替换即可

1.修正战士血龙剑法持续时间问题

2.修正组队逻辑问题，同时添加了选中人物后Alt+A快速添加，Alt+K快速踢出功能

3.添加各种装备价格



[2.06_01] 2013.10.23

本版本为补丁形式发布，需要2.05_00完整游戏支持，直接替换即可

1.开放简易命令组队系统，操作方法如下：

创建队伍@createteam

添加成员@addteammate 玩家名

踢出成员@kickteammate 玩家名

退出队伍@quitteam

其中添加了快速复制人物姓名到聊天栏的快捷键，操作方法为选中别的玩家，按Alt+N

2.添加强化魔龙装备属性

3.增大麻痹戒指麻痹几率



[2.05_00] 2013.10.18

本版本为补丁形式发布，需要2.04_00完整游戏支持，直接替换即可

1.开放装备分解与升级系统

2.新增自定义刷新精英怪物和显示血条数字定义，具体打开cfg.ini即可

（由于改进了检测措施，人物数据不正常将关入监狱，由于检测可能有bug，故请备份好存档）



[2.04_00] 2013.10.15

本版本为补丁形式发布，需要2.03_00完整游戏支持，直接替换即可

1.修复战士攻击bug

2.开放新地图

3.一些boss攻击速率减小



[2.03_00] 2013.10.14

本版本为补丁形式发布，需要2.0100完整游戏支持，直接替换即可

1.修复麻痹戒指无效问题

2.修复火墙重叠后无效问题

3.缩短太阳水冷却时间至4秒

4.修复精英怪物，首领怪物切换地图显示问题

5.提升精英怪物，首领怪物普通装备爆率和极品几率

6.宝石可以出现极品

7.修复召唤系BOSS召唤后不动问题

8.新增落霞传送卷和封魔传送卷



[2.02_01] 2013.10.12

本版本为补丁形式发布，需要2.0100完整游戏支持，直接替换即可

1.修复小地图隐藏后无法显示问题

2.缩短太阳水冷却时间

3.开放狐月岛地图

4.修复狐月岛无法回落霞村问题

5.新增精英怪和首领怪

6.Ctrl+左键可以批量购买消耗品

7.出售消耗品时候计算累计个数

8.修复天师长袍无法激活天尊套装属性问题



[2.02_00] 2013.10.11

本版本为补丁形式发布，需要2.0100完整游戏支持，直接替换即可

1.全屏模式加入（cfg.ini配置文件中改FULLSCREEN为非0值即可）

2.强化联机稳定性

3.消耗品叠加模式

4.狐月岛加入（由于地图问题，暂不可用）

5.界面更新

6.部分套装装备套装属性加入

7.取消黑铁头盔，圣战头盔防后仰属性

8.大大降低升级难度

9.提升装备极品率



游戏中发现bug，请在backmir贴吧中发帖



[2.0100] 2013.07.19

完整正式版游戏

本版本游戏不支持1.XXXX版本的存档，需重新练级。不过调整了BOSS

的难度以及出现极品装备的概率，其它内容与1.1712相同。



[1.1712] 2013.07.18

本版本为补丁形式发布，需要1.1700完整游戏支持，直接替换即可

1.调整游戏BOSS难度

2.优化怪物走动动画

3.调整技能

4.提升魔龙地图爆率



[1.1711] 2013.07.16

本版本为补丁形式发布，需要1.1700完整游戏支持，直接替换即可

1.添加战士道士44级技能

2.魔法盾3级无法学习修复

(暂停更新，作者太累,只修复BUG)



[1.1710] 2013.07.15

本版本为补丁形式发布，需要1.1700完整游戏支持，直接替换即可

1.圣龙盔，魔龙盔，天龙盔添加

2.魔龙树妖添加

3.调整47级以后腕力为0的问题

4.调整50级经验为0的问题

5.法师添加火流星技能

6.小地图怪物、NPC提示

7.任务物品无法卖出

8.提高魔龙教主爆率

9.凤天，凰天衣服添加

10.优化人物施法动作

11.修复大地图不能移动问题

12.等级上限开放到60级

13.提高寒冰掌冰冻时间1倍

14.封魔商人出售移动仓库卷



[1.1700] 2013.07.12

本版本为完整客户端版本

1.添加魔龙系列地图怪物，添加雷霆，光芒，烈焰套装

2.添加腰带及鞋子系列装备

3.三职业添加一个新技能

4.调整战士刺杀威力

5.添加战士狮子吼技能动画



[1.1660] 2013.07.06

本小版本为补丁发布，需要1.165完整游戏支持，直接替换即可

1.修复宝宝等级与能力的问题

2.修复BOSS召唤0血怪物问题

3.添加快捷键截图功能

4.部分魔法声音加入

5.开放项链幸运属性

6.取消装备名字颜色，加入装备品质

7.加入刺杀声音效果与攻杀声音效果

8.修复登陆器客户端IP读取服务器IP问题

9.提高沃玛装备爆率，照顾新手玩家



[1.1653] 2013.07.04

本小版本为补丁发布，需要1.165完整游戏支持，直接替换即可

1.修改极品装备颜色

2.添加 霸者之刃

3.添加特戒： 麻痹戒指

4.提高药品回复点数

5.添加强效太阳水（包）

6.削弱召唤系BOSS属性

7.添加神秘BOSS

8.开放屠龙刀 嗜魂法杖 怪物爆率

注：该版本为梦回传奇 仿盛大1.76版本的终结版。



[1.1652] 2013.07.03

本小版本为补丁发布，需要1.165完整游戏支持，直接替换即可

1.修正切换地图掉线问题

2.加入特戒：护身戒指

3.添加多角虫系列怪物

4.开放合成赤血魔剑任务

5.装备按品质显示颜色



[1.1651] 2013.07.02

本小版本为补丁发布，需要1.165完整游戏支持，直接替换即可

1.修正法师地狱雷光技能

2.修正法师诱惑之光技能

3.修正电僵王攻击动画

4.减弱牛魔法师属性

5.地图BOSS黄点显示

6.修正牛魔法师和电僵尸无石化动画效果

7.战士刺杀模式有几率出攻杀

8.服务端安全调整

9.提升牛魔王爆率



[1.165] 2013.06.29

1.添加法师技能地狱雷光，对于不死系怪物伤害加倍

2.开放牛魔地图

3.添加怒斩，逍遥扇，龙牙武器

4.提高屠龙和噬魂法杖出现几率

5.添加特殊戒指:传送戒指

6.客户端添加Ctrl+鼠标左键捡取人物所在坐标物品

7.客户端添加按住Alt键显示该坐标处所有物品

8.解决赤月恶魔刷新问题

9.减少祖玛教主等BOSS难度

10.大幅提升法师宝宝时间



[1.164] 2013.06.23

1.减少收刀时间

2.调整狂战士技能

3.调整界面UI

4.减少BOSS刷新时间，爆率依旧提升

5.某些技能学习后掉线问题



[1.163] 2013.06.22

1.更换游戏UI，添加创建人物流程，一存档支持3个人物，以便后续功能开发

2.平衡职业。法师寒冰掌缓速效果提升，冰冻状态火系魔法攻击伤害提高50%

3.攻击体验改进，强化狂风系列首饰效果，修正狂风项链无法加攻速问题

4.提升道士神兽，上古神兽能力，提高7级宝宝攻击力，宝宝召唤数量减少为一个

5.部分偏移有问题资源替换

6.部分魔法无法穿越障碍

7.部分魔法加入魔法冷却时间

8.幸运效果生效

9.加长BOSS刷新时间，大幅提高BOSS爆率



注：以前存档，修改为hum.sav即可游戏，登陆方式为登陆器随意选择一个存档即可

进入游戏，合并存档功能后续发放。



[1.162] 2013.06.17

1.增强法师魔法盾防御系数

2.增大法师诱惑之光成功率

3.改进宝宝AI

4.修正战士剑气可以打到宝宝的BUG

5.增加CTRL+Z召回宝宝，CTRL+X杀死宝宝

6.战士添加狮子吼技能，法师添加寒冰掌技能，道士添加进阶召唤技能

7.一些微调



[1.161] 2013.06.15

1.藏宝图系统加入，打BOSS可获得珍贵藏宝图，在藏宝图挖出的洞穴中，打败终极BOSS有机会获得40级新衣服！

藏宝图地图经验3倍，清完所有怪物将获得高额经验和大量经验卷轴，打开藏宝盒将有机会获得屠龙 嗜魂法杖等终极兵器！

2.潘多拉宝盒开放，神秘的合成公式，支持将沃玛，祖玛，赤月套装换成经验卷轴。

3.修复一个掉线BUG

4.黑铁头盔防后仰几率减少为10%，圣战头盔防后仰为20%



[1.160] 2013.06.09

1.添加赤月系列地图

2.添加三英雄套装

3.存档反作弊系统

4.添加部分声音

5.细节微调

6.添加宝宝升级系统



[1.153]       2013.06.01

1.修复战士21级腕力问题

2.增加祖玛大殿，增加新BOSS 祖玛教主，暗之祖玛卫士，暗之祖玛弓箭手，暗之祖玛雕像

3.增加祖玛系列首饰

4.增加一些人性化设定

5.调整一些技能

6.修复触龙神卡位问题

7.大幅增强法师雷电术威力

8.大幅增强道士灵魂火符威力



[1.152]       2013.05.28

1.修复道士隐身术无法学习的bug

2.修复包裹快慢时候解包药品不足6个问题

3.大幅提升狂战士技能效果

4.提升人物行走与跑步速度

5.删除1.151地牢1地图，换用新地牢1地图

6.35级以下人物3倍经验，以上经验回复正常

7.BOSS级别怪物增加5W经验卷和30W经验卷轴

8.增加地牢2地图，新增BOSS 触龙神，新增幽灵战神恶魔衣服，新增裁决之杖，骨玉权杖，龙纹剑



[1.151]       2013.05.27

1.增加道士隐身术技能

2.加入地牢地图

3.增加邪恶钳虫BOSS

4.修改若干bug



[1.15]  2013.05.26

1.取消群体攻击技能魔法锁定

2.提升沃玛爆率

3.战士新增被动技能，稳如泰山技能和狂战士技能

4.增加火墙爆率，提升火墙持续时间和攻击力

5.提升法师攻击力

6.取消无伤害后仰



注:与1.14版本存档通用



[1.14]  2013.05.25

1.调整道士宝宝能力

2.加强法师魔法攻击力，减少魔法消耗

3.增加地图，增加新BOSS 白野猪

4.增加狂风系列装备

5.物品可以丢弃

6.修正心灵手镯问题

7.调整怪物能力



注:与1.13版本存档通用



[1.13]  2013.05.24

1.加强骷髅宝宝攻击

2.怪物与人物重叠客户端卡死问题

3.加入全新沃玛装备，沃玛神殿，BOSS:沃玛护卫 沃玛教主，建议等级高后再去

4.增加仓库

5.神秘NPC添加

6.主线任务延伸



注:与1.12版本存档通用



[1.12]  2013.05.23

1.削弱道士施毒术

2.增加道士召唤骷髅技能

3.增加法师诱惑之光技能

4.大地图不显示死亡怪物红点

5.大地图显示其它玩家蓝点

6.仪式宝石任务，宝石消失可以重复领取

7.攻击时候可以使用技能

8.NPC显示名字

9.修复拖动不能戴头盔问题

10.缩短自动回复所需要的时间

11.中毒状态下无法自动回复

12.修复人物状态窗口显示2个魔法

13.增加骷髅系列装备

14.丢弃物品销毁

15.魔法攻击NPC出错

16.增加小极品系统，随机增加1-7点属性点

17.稻草人，钉耙猫等怪物主动攻击

18.增加森林雪人

19.半兽勇士开始爆装备

20.修复灵魂战衣女 不能穿戴问题

21.缩短存档对话框的时间

22.增加 随机传送卷(包) 和 回城卷(包)



注:与1.11版本存档通用

    </pre>
</div>
<div th:replace="fragments/footer :: baidu-script">百度统计script</div>
</body>
</html>